<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/About">About</a></li>
				<li><a href="/Cesume">Resume</a></li>
				<li><a href="/EE_Projects">EE Projects</a></li>
				<li><a href="/CS_Projects">CS Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li><a href="mailto:ashleyljj@gmail.com">email: ashleyljj@gmail.com</a></li>
				<li><a href="mailto:ashleyjl@berkeley.com">email: ashleyjl@berkeley.edu</a></li>
				<li><a href="https://github.com/ashlinnn">github.com/ashlinnn</a></li>
				<li><a href="https://www.linkedin.com/in/linashley/">linkedin</a></li>
				<p>You can also find me at Cory 125 in lab OR in Summoners Rift as MLSO :D</p>
			</ul>
			</footer>
		</body>
	</html>
